# Core Web Framework
fastapi

# Asynchronous Server Gateway Interface (ASGI)
uvicorn[standard]  # For running FastAPI

# Configuration Management
PyYAML

# LangChain and Extensions
langchain_community
sentence-transformers

# Elasticsearch Integration
elasticsearch>=8.0.0
