<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatoskr</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div class="header">
        <h1>Ratatoskr</h1>
    </div>
    <div class="container">
        <div class="interaction-box">
            <form class="chat-form">
                <!-- User Information -->
                <fieldset class="input-group">
                    <legend>User Information</legend>
                    <div class="user-info-row">
                        <div class="user-info-item">
                            <label for="user">User</label>
                            <input type="text" id="user" name="user">
                        </div>
                        <div class="user-info-item">
                            <label for="session">Session UUID</label>
                            <input type="text" id="session" name="session">
                        </div>
                        <div class="user-info-item">
                            <label>New Session</label>
                            <button type="button" id="reset-uuid-button" onclick="setUUID()">New UUID</button>
                        </div>
                    </div>
                </fieldset>

                <!-- Model Selection -->
                <fieldset class="input-group">
                    <legend>LLM Model Selection</legend>
                    <div>
                        <select id="model" name="model">
                            {% for model_id, model_name in model_options.items() %} 
                                <option value="{{ model_name }}">{{ model_name }}</option> 
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>

                <!-- Mode -->
                <fieldset class="input-group">
                    <legend>Mode:</legend>
                    <select id="mode" name="mode">
                        <option value="dialog">Dialog</option>
                        <option value="vector">Vector search</option>
                        <option value="string">String search</option>
                    </select>
                </fieldset>

                <!-- Query Options -->
                <fieldset class="input-group">
                    <legend>Query Options</legend>
                    <div class="checkbox-grid">
                        <div class="user-info-item">
                            <label for="use_rag_database">Dialog: Use local RAG</label>
                            <input type="checkbox" id="use_rag_database" name="use_rag_database">
                        </div>
                        <div class="user-info-item">
                            <label for="max_results">Search: Max Results</label>
                            <input type="number" id="max_results" name="max_results" value="10">
                        </div>
                    </div> 
                </fieldset>

                <!-- Query Input and Output -->
                <fieldset class="input-group">
                    <legend>Query</legend>
                    <div>
                        <label for="query">Query:</label>
                        <textarea id="query" name="query" rows="10"></textarea>
                    </div>
                    <div id="loading" style="display: none; text-align: center;"><img
                            src="{{ url_for('static', filename='images/ratatoskr_loading.gif') }}" alt="Image"
                            width="60" height="35" style="border-radius: 50%;"></div>
                    <div>
                        <label for="response">Response:</label>
                        <textarea id="response" name="response" rows="10" readonly></textarea>
                    </div>
                </fieldset>

                <div class="user-info-item">
                    <input type="button" value="Submit" onclick="sendQuery()">
                    <input type="button" value="Clear" onclick="clearResponse()">
                </div>
            </form>
        </div>

        <!-- Summarize based on source -->
        <div class="interaction-box">
            <form>
                <h3 style="color:#66c2ff">Summarize based on sources</h3>
                <br>
                <div class="source-summarization">
                    <fieldset class="input-group">
                        <legend>Define Sources</legend>
                        <div class="source-definition-and-button" style="display: flex; align-items: center;">
                            <label for="sources" style="margin-right: 10px;">Sources:</label>
                            <input type="text" id="sources" name="sources"
                                placeholder="Enter comma-separated source files or URLs"
                                style="flex-grow: 1; margin-right: 10px;" />
                        </div>
                        <label for="text-summary" style="margin-right: 10px;">Text Summary:</label>
                        <textarea id="text-summary" name="text-summary" rows="10"></textarea>
                        <div class="input-group">
                            <input type="button" value="Summarize Sources" onclick="summarizeSources()">
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>

        <!-- Indexing Section -->
        <div class="interaction-box">
            <form>
                <h3 style="color:#66c2ff">Index new data to local retrieval-augmented generation</h3>
                <div class="upload-link-section">
                    <fieldset class="upload">
                        <legend>File Upload</legend>
                        <label>Select a (txt, pdf, json, md, csv) file:</label>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Upload">
                        </form>
                    </fieldset>
                    <fieldset class="input-group">
                        <legend>Submit Link for indexing to RAG</legend>
                        <div class="link-submission">
                            <label for="link">Url link:</label>
                            <input type="url" id="link" name="link" placeholder="Enter the link to be indexed">
                            <button type="button" id="submit-link-button" onclick="submit_link()">Submit Link</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
    </div>

    <script src="{{ url_for('static', filename='js/ratatoskr.js') }}"></script>
</body>

</html>